@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #111311;
    --background: #f8faf7;
    --primary: #347928;
    --secondary: #a1df96;
    --accent: #74e261;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: 'nunito';
  src: url('/fonts/nunito-reguler.woff') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.font-nunito {
  font-family: 'nunito', sans-serif;
}